
.titulo{
	display: grid;
	grid-template-columns: auto;
	grid-template-rows: auto;
	background-color: #166e9d;	
	max-width: 1100px;
	height: 80px;
	margin: auto;
}

#titulo-principal{
	text-align: center;
	padding: 25px;
	font-size: 22px;
	font-weight: 550;
	color: white;
}

.container-formulario{
	display: grid;
	grid-template-columns: auto;
	grid-template-rows: auto auto auto auto auto auto;
	max-width: 1100px;
	margin: auto;
	margin-top: 40px;
}

p{
	margin: 0;
	padding-left: 15px;
}

.inputs{
	margin: auto;
	margin-top: 10px;
	margin-bottom: 30px;
	padding: 5px;
	width: 92.5%;
}


.expresion{
	color: grey;
	padding-left: 32px;
}

.ejercicio{
	font-size: 18px;
}

.especificacion{
	padding-left: 32px;
}

.btn{
	width: 300px;
	padding: 10px;
	margin: auto;
	margin-top: 20px;
}

.correcto{
	background: #c4ffa3;
	margin: auto;
	margin-top: 5px;
	margin-bottom: 0;
	padding: 7px;
	width: 91%;
}

.incorrecto{
	background: #ffa891;
	margin: auto;
	margin-top: 5px;
	margin-bottom: 0;
	padding: 7px;
	width: 91%;
}

.escape{
	background: #d3f0ff;
	margin: auto;
	margin-top: 5px;
	margin-bottom: 0;
	padding: 7px;
	width: 91%;	
}