
body{
	margin: 0;
	padding: 0;
	background-color: white;
}


#header-login{
	background-color: black;
	color: white;
	font-family: "Gill Sans Extrabold", Helvetica, sans-serif;
	padding: 10px;
    font-size: 25px;
    text-align: center;
	grid-column-start: 1;
	grid-column-end: 4;
}


img{width: 100%; height: auto;} 



.fondo{
	background-image: url('images/fondo_lago.jpg');
	width: 100%;
	height: 100vh;
	background-size: cover;
	background-attachment: fixed;
}

.container{
	display: grid;
	grid-template-columns: auto 33% auto;
	grid-template-rows: 50px 170px auto;
	position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
	background-color: white;	
	max-width: 360px;
	height: 520px;
	margin: auto;
}

.item1{
	padding: 20px 0;
	grid-column-start: 2;
	grid-column-end: 3;
	grid-row-start: 2;
	grid-row-end: 3;
}


.item2{
	margin-top: 0;
	grid-column-start: 1;
	grid-column-end: 4;
	grid-row-start: 3;
	grid-row-end: 4;
}

.form-label-login{
	margin: 0 auto 10px 36px;
	font-size: 20px;
	display: block;
	width: 100%;	
}


.form-input-login{
	margin: 10px 36px 25px 36px;
	padding: 8px;
	display: block;
	width: 80%;	
	border: 1px solid white;
	border-bottom-color: #dcdcdc;
}

.btn{
	margin: auto;
	margin-top: 30px;
	border: none;
	padding: 10px;
	width: 75%;
	background: #add8e6;
	color: white;
	font-size: 15px;
}

.btn:hover{
	background: #1668C4;
}

.btn1{
	margin-left: 46px;
	margin-top: 30px;
	border: none;
	padding: 10px;
	width: 75%;
	background: #add8e6;
	color: white;
	font-size: 15px;
}

.btn1:hover{
	background: #1668C4;
}


.form-input-login:focus{
	border: 1px solid #1668C4;
}

.form-input-login:hover{
	color: grey;
}


.menu{
	display: grid;
	grid-template-columns: auto auto auto auto;
	grid-template-rows: auto auto auto;
	max-width: 1100px;
	margin: auto;
	margin-top: 30px;
	background: #009ce7;

}

.item1-info:hover{
	background: #1289e1;

}

.item2-info:hover{
	background: #1289e1;

}

.item3-info:hover{
	background: #1289e1;

}

.item4-info:hover{
	background: #1289e1;

}


a{
	text-decoration: none;
	color: white;
	font-size: 20px;
}

.item1-info{
	grid-column-start: 1;
	grid-column-end: 2;
	text-align: center;
	padding: 15px;
	border: 2px solid white;
}

.item2-info{
	grid-column-start: 2;
	grid-column-end: 3;
	text-align: center;
	padding: 15px;
	border: 2px solid white;
}

.item3-info{
	grid-column-start: 3;
	grid-column-end: 4;
	text-align: center;
	padding: 15px;
	border: 2px solid white;
}

.item4-info{
	grid-column-start: 4;
	grid-column-end: 5;
	text-align: center;
	padding: 15px;
	border: 2px solid white;	
}




.display-info{
	display: grid;
	grid-template-columns: 90px auto auto;
	grid-template-rows: auto 90px auto auto;
	max-width: 1100px;
	margin: auto;
	margin-top: 30px;
	border: 1px solid grey;
}


#titulo1-info{
	font-size: 30px;
	grid-column-start: 1;
	grid-column-end: 5;
	grid-row-start: 1;
	grid-row-end: 2;
	border: 1px solid white;
	border-bottom: 1px solid grey;
	padding-top: 12px;
	padding-bottom: 12px;
}


.item5-info{
	grid-column-start: 1;
	grid-column-end: 2;
	grid-row-start: 2;
	grid-row-end: 3;
	padding: 10px;
	background: #f8f8ff;
	border: 1px solid grey;
}

.item6-info{
	grid-column-start: 2;
	grid-column-end: 5;
	grid-row-start: 2;
	grid-row-end: 3;
	padding: 35px;
	background: #f8f8ff;
	font-size: 20px;
}

.item7-info{
	grid-column-start: 1;
	grid-column-end: 5;
	grid-row-start: 3;
	grid-row-end: 5;
	padding: 15px;
	font-size: 18px;
}



.display-registros{
	display: grid;
	grid-template-columns: auto auto auto auto;
	grid-template-rows: auto auto;
	max-width: 1100px;
	margin: auto;
	margin-top: 50px;
}

.atributo{
	padding: 15px;
	font-size: 17px;
	font-weight: 900;
	background: #b0c4de;
	border-top: 2px solid #4682b4;
	border-bottom: 2px solid #4682b4;
}

.atributo-valor{
	padding: 15px;
	font-size: 14px;
	border-top: 1px solid #b0c4de;
}

#item8-info{
	grid-column-start: 1;
	grid-column-end: 2;
}

#item9-info{
	grid-column-start: 2;
	grid-column-end: 3;
}

#item10-info{
	grid-column-start: 3;
	grid-column-end: 4;
}

#item11-info{
	grid-column-start: 4;
	grid-column-end: 5;
}


.container-formulario{
	display: grid;
	grid-template-columns: 180px auto;
	grid-template-rows: 50px 50px 50px 50px auto auto auto 50px 50px 50px auto auto auto;
	max-width: 1100px;
	margin: auto;
	margin-top: 50px;
}


.form-label-formulario{
	padding: 10px;
	font-size: 18px;
}

.form-input-formulario{
	margin-bottom: 20px;
	margin-right: 10px;
}

#cuenta-form{
	grid-column-start: 1;
	grid-column-end: 2;
	padding: 10px;
}

#num_cta-input-form{
	grid-column-start: 2;
	grid-column-end: 3;
	grid-row-start: 1;
	grid-row-end: 2;
}

#nombre-form{
	grid-column-start: 1;
	grid-column-end: 2;
	grid-row-start: 2;
	grid-row-end: 3;	
}

#nombre-input-form{
	grid-column-start: 2;
	grid-column-end: 3;
	grid-row-start: 2;
	grid-row-end: 3;
}

#apellido1-form{
	grid-column-start: 1;
	grid-column-end: 2;
	grid-row-start: 3;
	grid-row-end: 4;	
}

#primer_apellido-input-form{
	grid-column-start: 2;
	grid-column-end: 3;
	grid-row-start: 3;
	grid-row-end: 4;	
}

#apellido2-form{
	grid-column-start: 1;
	grid-column-end: 2;
	grid-row-start: 4;
	grid-row-end: 5;		
}

#segundo_apellido-input-form{
	grid-column-start: 2;
	grid-column-end: 3;
	grid-row-start: 4;
	grid-row-end: 5;	
}

#genero-form{
	grid-column-start: 1;
	grid-column-end: 2;
	grid-row-start: 5;
	grid-row-end: 6;
	padding: 0;
	padding-left: 10px;
}

#hombre{
	grid-column-start: 2;
	grid-column-end: 3;
	grid-row-start: 5;
	grid-row-end: 6;		
}

#mujer{
	grid-column-start: 2;
	grid-column-end: 3;
	grid-row-start: 6;
	grid-row-end: 7;		
}

#otro{
	grid-column-start: 2;
	grid-column-end: 3;
	grid-row-start: 7;
	grid-row-end: 8;
	margin-bottom: 20px;
}

#fecha-form{
	grid-column-start: 1;
	grid-column-end: 2;
	grid-row-start: 8;
	grid-row-end: 9;	
}

#date-input-form{
	grid-column-start: 2;
	grid-column-end: 3;
	grid-row-start: 8;
	grid-row-end: 9;		
}

#contra-form{
	grid-column-start: 1;
	grid-column-end: 2;
	grid-row-start: 9;
	grid-row-end: 10;			
}

#password-input-form{
	grid-column-start: 2;
	grid-column-end: 3;
	grid-row-start: 9;
	grid-row-end: 10;				
}

#boton{
	grid-column-start: 1;
	grid-column-end: 3;
	grid-row-start: 10;
	grid-row-end: 11;	
}

#error{
	color: red;
	text-align: center;
}

.container-result-registro{
	grid-column-start: 1;
	grid-column-end: 3;
	grid-row-start: 11;
	grid-row-end: 12;	
	width: 96%;
	background: white;
	margin: auto;
	margin-top: 50px;
}

.registro-fallido{
	background: #ffcd77;	
	padding: 10px;
}

.registro-exitoso{
	background: #d0ffa6;	
	padding: 10px;	
}

.registro-fallido-end{
	background: #ffe3b3;
	padding: 10px;	
}

.registro-fallido-end2{
	background: white;
	padding: 10px;	
}

.campo-fallo{
	padding-left: 15px;
	padding-top: 7px;
	background: #ffe3b3;
}

.descripcion-fallo{
	padding-left: 40px;
	background: #ffe3b3;
}